{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>О разработчиках | На Взлёт!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about_devs.css' %}">
{% endblock head %}

{% block body %}
    <div class="about-developers">
        <p>Самарский университет</p>
        <p>Кафедра программных систем</p>
        <p>Институт информатики и кибернетики</p>
        <p>Курсовой проект по дисциплине ”Программная инженерия”</p>
        <br>
        <p>Тема проекта: <strong>“Автоматизированная система бронирования авиабилетов”</strong></p>
        <br>
        <p>Разработчики – обучающиеся группы 6403-020302D</p>
        <p>Долгоруков Петр Николаевич</p>
        <p>Ларионов Евгений Максимович</p>
        <p>Старков Антон Викторович</p>
        <p>Шкроб Александр Михайлович</p>
        <br>
        <p>Самара 2024</p>
    </div>
{% endblock body %}
