{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Payment | Flight</title>
    <link rel="stylesheet" href="{% static 'css/payment_style.css' %}">
{% endblock %}

{% block body %}
<form id="payment-form" action="{% url 'payment' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="ticket" value="{{ticket}}" required>
    {% if ticket2 %}
        <input type="hidden" name="ticket2" value="{{ticket2}}" required>
    {% endif %}
</form>
<script>
    // Автоматическая отправка формы после загрузки страницы
    window.onload = function() {
        document.getElementById('payment-form').submit();
    };
</script>
{% endblock %}
