{% extends "flight/layout2.html" %}

{% load static %}

{% block title %}
    Sign Up | Network
{% endblock %}

{% block script %}
    <script type"text/javascript" src="{% static 'js/signup.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="user-box" style="margin-top: 6vh;">
        <div>
            <center>
                <a href="{% url 'index' %}"><img src="{% static 'img/icon_logo.png' %}" height="35em" style="margin-bottom: 2vh;"> </a>
                <h3>Зарегистрироваться на Flight</h3><br>
            </center>
        </div>
    
        <form action="{% url 'register' %}" method="post" id="signin-form" style="width: 100%; margin-bottom: 5vh;" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control inp usrname" type="text" name="username" placeholder="Логин *" minlength="4" maxlength="36" required>
                <span class="star small"></span>
            </div>
            <div class="form-group">
                <input class="form-control inp fname" type="text" name="firstname" placeholder="Имя *" minlength="2" maxlength="36" required>
                <span class="star small"></span>
            </div>
            <div class="form-group">
                <input class="form-control inp lname" type="text" name="lastname" placeholder="Фамилия *" minlength="2" maxlength="36" required>
                <span class="star small"></span>
            </div>
            <div class="form-group">
                <input class="form-control inp patronymic" type="text" name="patronymic" placeholder="Отчество" minlength="3" maxlength="36">
                <span class="star small"></span>
            </div>
            <div class="form-group">
                <input class="form-control inp phonenumber" type="text" name="phonenumber" placeholder="Номер телефона *" minlength="7" maxlength="18" required>
                <span class="star small"></span>
            </div>
            <div class="form-group">
                <input class="form-control inp email" type="email" name="email" placeholder="Эл. почта *" minlength="5" maxlength="64" required>
                <span class="star small"></span>
            </div>
            <div class="form-group">
                <input class="form-control inp pswd" type="password" name="password" placeholder="Пароль *" minlength="4" maxlength="16" required>
                <span class="star small"></span>
            </div>
            <div class="form-group">
                <input class="form-control inp cpswd" type="password" name="confirmation" placeholder="Повтор пароля *" required>
                <span class="star small"></span>
            </div>

            <center>
                <input class="btn btn-danger" type="submit" value="Зарегистрироваться" style="margin-top: 10px; width: 95%;">
            </center>
        </form>
    
        <div>
            <center>
                Уже зарегистрированы?&nbsp;&nbsp;<a href="{% url 'login' %}">Войти</a>
            </center>
        </div><br><br>
    </div>
{% endblock %}
